<div class="booking-container">

  <!-- LEFT: WORKSPACE SUMMARY -->
  <div class="summary-card" *ngIf="workspace">
    <img class="ws-img" [src]="workspace.images[0]" alt="workspace" />

    <h2 class="ws-title">{{ workspace.name }}</h2>
    <p class="ws-description">{{ workspace.description }}</p>

    <div class="price-line">
      <span class="price">S/ {{ workspace.price }}</span>
      <span>/ día</span>
    </div>

    <hr>

    <div class="dates">
      <p><strong>Inicio:</strong> {{ form.value.startDate || "—" }}</p>
      <p><strong>Fin:</strong> {{ form.value.endDate || "—" }}</p>
    </div>

    <hr>

    <p class="total-text">
      <strong>Total:</strong> S/ {{ total }}
    </p>
  </div>

  <!-- RIGHT: FORM -->
  <div class="form-card">
    <h2>Selecciona tus fechas</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Fecha de inicio</label>
      <input type="date" formControlName="startDate" />

      <label>Fecha de fin</label>
      <input type="date" formControlName="endDate" />

      <button type="submit" class="reserve-btn">
        Reservar
      </button>
    </form>
  </div>

</div>
