<section class="hero">
  <h1>{{ 'hero.title' | translate }} <span class="highlight">{{ 'hero.highlight' | translate }}</span></h1>
  <p>
    {{ 'hero.subtitle' | translate }}
  </p>

  <a mat-raised-button color="primary" routerLink="/searching/workspaces">
    {{ 'hero.button' | translate }}
  </a>
</section>





<section class="workspace-types">
  <h2 class="section-title">{{ 'workspaceTypes.title' | translate }}</h2>
  <div class="type-grid">
    <div class="type-card">
      <img src="https://picsum.photos/id/119/500/250" alt="Private Office">
      <h3>{{ 'workspaceTypes.privateOffice' | translate }}</h3>
    </div>
    <div class="type-card">
      <img src="https://picsum.photos/id/1060/500/250" alt="Coworking Space">
      <h3>{{ 'workspaceTypes.coworking' | translate }}</h3>
    </div>
    <div class="type-card">
      <img src="https://picsum.photos/id/1048/500/250" alt="Meeting Room">
      <h3>{{ 'workspaceTypes.meetingRoom' | translate }}</h3>
    </div>
  </div>
</section>


