<div class="search-container">
        <mat-form-field appearance="outline" class="search-bar">
            <mat-icon matPrefix class="search-icon">search</mat-icon>
            <input 
            #searchInput
            matInput 
            placeholder="Search for workspaces in Lima"
            (keyup.enter)="onSearch(searchInput.value)">
        </mat-form-field>
        
        <button 
            mat-raised-button 
            class="search-button"
            (click)="onSearch(searchInput.value)">
            Search
        </button>
</div>
